@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.sidebar {
  padding-top: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  display: block;
  z-index: 2;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 0px 5px 5px grey;
}

.video-player {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 60vh;
  overflow: hidden;
}

.main-panel {
  width: 100%;  
  position: absolute;
  height: 100%;
}

.nav-bar {
  position: fixed;
}

.nav-tabs {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-tabs .bp3-tab-list {
  border-bottom: 1px solid #dedfe0;
}

.nav-tab {
  margin: 5px 20px 5px 20px;
}

.nav-panel {
  padding: 20px;
}

.corner-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.main-content {
  width: calc(100% - 400px);
}

.sidebar-content {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.text-center {
  text-align: center;
}

/* Full calendar  */
.fc-event-time, .fc-event-title {
  padding: 0 1px;
  white-space: nowrap;
}

.fc-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fc-title {
  white-space: normal;
}

.login-card {
  max-width: 350px;
  margin: auto;
  margin-top: 100px;
}

.login-form {
  padding: 20px;
}

.img-review {
  width: 100%;
  border: 1px solid;
}

/* ==================== width 900 ==================== */

@media (max-width: 991px) {

  .sidebar {
    display: none
  }

  .main-content {
    width: 100%;
  }

  .nav-bar .bp3-button-text {
    display: none
  }

}
